.progress-container, .done-container{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.done-container, .done-container > * {
    margin: 15px;
    text-align: center;
}

.progress-title, .progress-label{
    margin: 15px;
    display: flex;
    justify-content: center;
}

.message{
    height: 50px;
}
