<div class="container">
  <h1 class="title">
    UKU Scraper
  </h1>

  <div class="progress-container" *ngIf="!done">
    <h3 class="progress-title">Downloading</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" [style]="'width:'+progressText"></div>
    </div>
    <h3 class="progress-label">{{progressText}}</h3>
    <div class="message">{{message}}</div>
  </div>

  <div *ngIf="done" class="done-container">
    <h5>Download complete, your files saved in Downloads folder</h5>
    <a [routerLink]="['/home']" class="btn btn-primary">Home</a>
  </div>



</div>
